.current-steps {
  text-align: center;
  white-space: pre;
  font-size: 2rem;
}

@media (max-width: 740px) {
  .current-steps {
    font-size: 1.5rem;
  }

  .current-steps p {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .current-steps {
    text-align: center;
    font-size: 1.1rem;
  }
}
