.scores-table {
  text-align: center;
  font-size: 1.2rem;
}

.results {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;
}

.results::-webkit-scrollbar {
  width: 5px;
}

.results::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.results::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.results::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scores-table p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.best-result {
  text-align: center;
  font-size: 1.2rem;
  white-space: pre;
}

@media (max-width: 740px) {
  .scores-table {
    display: none;
  }
  .best-result {
    font-size: 1.1rem;
  }
  .best-result p {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .best-result {
    font-size: 1.1rem;
  }
}
