.greet {
    text-align: center;
  }
  
.memo-greet {
height: 200px;
}

.memo-greet-text {
font-size: 1.5rem;
}

.helper {
text-align: center;
cursor: pointer;
animation: helper-attention 800ms;
}

.memo-helper {
height: 80px;
display: inline-block;
}

.memo-helper-text {
font-size: 1.2rem;
display: inline-block;
height: 80px;
vertical-align: top;
white-space: pre;
}
  