.greet {
  text-align: center;
}

.memo-greet {
  height: 200px;
}

.memo-greet-text {
  font-size: 1.5rem;
}

.helper {
  text-align: center;
  cursor: pointer;
  animation: helper-attention 800ms;
  padding-bottom: 2rem;
}

.memo-helper {
  height: 80px;
  display: inline-block;
}

.memo-helper-text {
  font-size: 1.2rem;
  display: inline-block;
  height: 80px;
  vertical-align: top;
  white-space: pre;
}

@keyframes helper-attention {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.95);
  }
}

@media (max-width: 680px) {
  .memo-greet {
    height: 120px;
  }
}
