.App {
  margin: 0;
  font-family: "Handlee";
}

@keyframes card-rotation {
   0% {
       transform: rotateY(0deg)
   }
  100% {
      transform: rotateY(180deg)
  }
}

@keyframes card-rotation-color {
  0% {
      transform: rotateY(0deg);
      filter: brightness(0.2);
  }
 100% {
     transform: rotateY(-180deg);
     filter: brightness(1);
 }
}

@keyframes helper-attention {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  80% {
      transform: scale(0.8);
  }
  100% {
      transform: scale(0.95);
 }
}



