.header {
  display: grid;
  grid-template-columns: 0.9fr 1fr 0.9fr;
  align-items: center;
  height: 4rem;
  background-color: #229722;
  color: white;
  font-family: 'Handlee';
  margin-bottom: 1rem;
}

.header p {
  grid-column-start: 2;
  margin: 10px;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 680px) {
  .header {
    grid-template-columns: 1fr 0.8fr 0.2fr;
  }

  .header p {
    text-align: right;
    grid-column-start: 1;
  }
}

@media (max-width: 480px) {
  .header {
    grid-template-columns: 1fr 1fr 0.2fr;
  }
  .header p {
    text-align: left;
    font-size: 1.2rem;
  }
}
