.cards {
  display: grid;
  grid-template-columns: repeat(4, 130px);
  justify-content: center;
  margin-bottom: 1rem;
}

.cards-5 {
  display: grid;
  grid-template-columns: repeat(5, 130px);
  justify-content: center;
  margin-bottom: 1rem;
}

@media (max-width: 680px) {
  .cards {
    grid-template-columns: repeat(4, 90px) !important;
  }

  .cards-5 {
    grid-template-columns: repeat(4, 90px) !important;
  }
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: repeat(4, 60px) !important;
  }
  .cards-5 {
    grid-template-columns: repeat(4, 60px) !important;
  }
}
